<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://exist-db.org/ns/expath-pkg">
    <jar>@project.app.jar@</jar>
    <jar>@project.lib.jar@</jar>
    <java>
        <namespace>http://exist-db.org/xquery/sparql</namespace>
        <class>org.exist.xquery.rdf.SparqlModule</class>
    </java>
</package>
